body {
  margin: 0;
  padding: 0;
  background-color: #c0d9bf;
  font-family: "Indivisible", "Lotus Eden", sans-serif;
}

.logobalk {
  background-color: #8b6341;
  width: 100%;
  max-width: 100%;
}

.logobalk img {
  max-width: 45%;
  display: block;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

nav {
  font-family: lotus-eden, sans-serif;
  font-weight: 600;
  font-style: normal;
}
nav a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

nav li {
  margin-bottom: 0.5em;
}

.paars-vlak {
  background-color: #cba2c8;
  margin: 0.5em;
  border-radius: 10px;
}

h1,
h2 {
  font-family: indivisible, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: x-large;
  padding: 1em;
}

p {
  font-family: indivisible, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1.5em;
}

.natuur-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.natuur {
  display: block;
  width: 48%;
  margin: 1%;
  border-radius: 10px;
}

.home-fotos-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-fotos {
  display: block;
  width: 45%;
  margin: 1%;
  border-radius: 10px;
}
.landgeitbokken {
  display: block;
  margin: auto;
  border-radius: 10px;
  max-width: 90%;
}

button {
  font-family: indivisible, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fotos,
.routes {
  background-color: #59321c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 1em;
  margin: 1em;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #8b6341;
  align-items: center;
}

footer p {
  font-size: 8px;
  color: #fff;
  font-weight: 300;
}

.footerlogo {
  max-width: 30%;
}
